@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* I like to work with sections in */
section {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
  padding: 50px 0px;
  /* background-color: #a3bcf9; */
}

.sectioncolor-light {
  background-color: #ffffff;
}

.sectioncolor-dark {
  background-color: #385398;
}

/* General container styling, we can change later */
.container-grid {
  display: grid;
  /* background-color: rgb(157, 200, 94); */
  min-height: 400px;
  gap: 30px
}

/* General container for flexbox */
.container-flexbox {
  display: flex;
  min-height: 400px;
  /* background-color: rgb(157, 200, 94); */
}

/* The large section before all the content on the landing page. */
.landing-intro {
  background: url("../public/images/intro-photo.JPG") rgba(3, 126, 227, 0.864);
  background-size: auto;
  background-position-y: 25%;
  background-position-x: 40%;
  background-blend-mode: multiply;
  min-height: 700px;
}

@media screen and (min-width:2048px ){
  .landing-intro{
  background: url("../public/images/intro-photo.JPG") rgba(227, 149, 3, 0.864);
  background-size:cover;
  background-position-y: 25%;
  background-position-x: 40%;
  background-blend-mode: multiply;
  min-height: 700px;
  }
}

.intro-card {
  height: 60%;
}

.card-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/* Here I put the different flexbox templates */


/* Here I put the different grid templates. */

/* For 1fr 2fr grid format*/
.grid-cols-left {
  grid-template-columns: 1fr 2fr;
}

/* For 1fr 1fr grid format */
.grid-cols-even {
  grid-template-columns: 1fr 1fr;
}

/* for 2fr 1fr grid format */
.grid-cols-right {
  grid-template-columns: 2fr 1fr;
}

/* Flex Items with flex direction that go vertically */
.flex-item-dir-cols {
  display: flex;
  flex-direction: column;
  background-color: #7796CB;
  margin: 20px 0px;
  padding: 20px;
  max-height: 500px;
}

/* Put grid items in the center of the cell */
.grid-item-center {
  justify-self: center;
  align-self: center;
  justify-content: center;
}

/* justify items left */
.items-left {
  justify-items: left;
}

/* justify items to center */
.items-center {
  justify-items: center;
}

/* The Container for the updates grid. */
.updatesContainer {
  height: fit-content;
  background-color: steelblue;
  width: 75%;
}

/* Updates Grid for the landing page */
.updatesGrid {
  display: grid;
  /* background-color: rgb(157, 200, 94); */
  width: 85%;
  height: 90%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(1fr);
  gap: 20px;
  padding: 10px 0px;
  margin: 20px 0px;
}

.teamsGrid {
  height: fit-content;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));;
  grid-template-rows: repeat(1fr);
  padding: 20px 0px;
}

/* The footer object for all webpages */
.footer { 
  background-color: rgb(95, 113, 167);
  border-top: 8px solid rgb(151, 180, 188);
  min-height: 300px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
}

/* A column or an item in the footer. Contains content within it */
.footerCard {
  /* background-color: rgb(215, 154, 40); */
  /* border: 1px solid white; */
  padding: 20px;
  justify-self: center;
}

/* Styling for the lists in the footer */
.footerList > li {
  margin: 12px auto;
}

/* Hover functions  */
.footerList > li :hover {
  text-decoration: underline;
  color: rgb(0, 51, 93);
  font-weight: 600;
}

/* Styling for the list header */
.listHeader {
  font-weight: 700;
  font-size: 24px;
}

/* Media queries for page responsiveness. */
@media (max-width: 1000px) {
  .updatesGrid, .updatesContainer {
    width: 100%;
  }

  /* Change the grid columns to a horizontal format */
  .grid-cols-even, .grid-cols-left, .grid-cols-right {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  /* Adjust the right side format to match the others */
  .grid-cols-right {
    display:flex;
    flex-direction: column-reverse;
  }

  /* Container grid should fill up the entire screen for small screens */
  .container-grid {
    min-width: 100%;
  }

  /* Change the size of the items to avoid oversized items */
  .flex-item-dir-cols {
    margin: auto;
    min-height: 250px;
    height: 90%;
  }

  .intro-card {
    width: 90%;
  }

  .landing-intro {
    min-height: 400px;
  }

}

/* .team-member-card{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  
} */

.team-member-card[data-isOpen="true"]{
  width: 400px;
  height: 200px;
}
